.navbar {
  background-color: #333;
  padding: 10px 20px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  color:#fff;
}

.Logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.nav-Links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-Links li a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.nav-Links li a:hover {
  text-decoration: underline;
  color: #ffffffc9;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
  }
}